
html.landing-page, html.main-page {
	width: auto;
	height: 100%;
	font-family: 'Lato', sans-serif;
	color: #0a0c0f;
	font-size: 1rem;
	background: linear-gradient(to bottom, #023459, #023459 10%, rgba(166, 194, 206, 0.4)),
		url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2017/10/09/13/crowded-nhs.jpg?w968");
	background-size: cover;
	background-repeat: no-repeat;
}

html.main-page {
	background: none;
	background-color: white;
}

/* nav-bar styling */
nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	width: 100%;
	min-height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	background-color: #023459;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropbtn {
		height: 60px;
    background-color: #023459;
    color: white;
    padding: 16px;
    font-size: 1rem;
    border: none;
		box-shadow: 0 0 0;
    cursor: pointer;
}

.dropbtn > img {
	width: 40px;
	height: auto;
}

.dropdown-content {

		margin-top: 7px;
    display: none;
		flex-direction: column;
    position: fixed;
		left: 0;
    background-color: #023459;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content button {
	text-align: left;
	box-shadow: 0 0 0;
	border-bottom: 1px solid white;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

button, input[type="submit"]  {
	padding: 10px;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	min-height: 25px;
	margin: 0 5px;
	color: white;
	background-color: #023459;
	border: none;
	box-shadow: 5px 5px 10px gray;
}

button:hover, label:hover, input[type="submit"]:hover, .data:hover  {
	cursor: pointer;
}

.intro-nav {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin: 0 auto;
	padding: 10px;
}

h1 {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 5px;
	font-size: 2.5rem;
	margin-top: 50px;
	margin-bottom: -50px;
}

h2 {
	color:
	font-family: 'Roboto', sans-serif;
	margin-top: 75px;
	text-align: center;
	font-size: 1.5rem;
}

p {
	text-align: center;
	font-size: 1rem;
	line-height: 2;
}

#landing-page {
	margin: 0 auto;
}

.intro-container, .auth-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 80%;
	min-height: 60vh;
	margin: 0 auto;
	margin-top: 75px;
	padding-bottom: 20px;
	background: linear-gradient(white, rgba(255, 255, 255, 0.5) 90%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	box-shadow: 10px 10px 50px gray;
	border: 1px solid white;
	border-radius: 10px;
}

figure {
	overflow: hidden;
	display: none;
}

figure img {
	width: 100%;
}

#landing-nav {
	display: flex;
	justify-content: center;
}

.auth-container {
	margin-top: 0;
	justify-content: flex-start;
}



.auth-container input {
	margin-left: 0;
}

.auth-container div, .auth-container > input {
	margin: 10px;
}

.auth-container div:last-child {
	flex: 2;
}

.modal {
	display: flex;
	align-content: center;
	vertical-align: center;
	flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 90%;
	height: auto;
	z-index: 1010;
	background-color: white;
	padding: 25px;
	padding-top: 5px;
}

.modal-overlay {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.modal-close-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	padding-top: 0px;
}

.modal.closed {
  display: none;
}

.invalid {
	color: red;
	text-align: center;
}

.auth-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}

#auth-form label {
 text-align: center;
 width: 100%;
 height: 50px;
 font-size: 1rem;
 font-weight: 700;
}

input, .modal-close-button {
	font-size: 1rem;
	font-weight: 600;
}


input[type="text"], input[type="password"], input[type="date"] {
	width: 100%;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	font-weight: 500;
	height: 50px;
	border: none;
	border: 2px solid #a6c2ce;
	border-radius: 10px;
	box-shadow: 5px 5px 10px gray;
}

input[type="submit"] {
	font-weight: 500;
	width: 50%;
	height: 50px;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	border-radius: 10px;
}

.message {
	font-weight: bold;
}

.container {
	margin: 10px auto;
	display: flex;
	justify-content: flex-end;
	height: auto;
	width: 90%;
	padding: 10px;
}

.list-container button, .container button {
	font-size: .8rem;
	min-height: 25px;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
}



.report-container {
	margin: 0 auto;
	width: 90%;
}

.report-section {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.report-menu-item {
	padding: 15px;
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #a6c2ce;
	color: #0a0c0f;
	font-size: 1rem;
	font-weight: 700;
	height: auto;
}

.report-content {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 1rem;
	width: 98%;
	border: none;
	border-right: 1px solid #a6c2ce;
	border-left: 1px solid #a6c2ce;
	padding: 30px 0;
}

.report-content div, .labs-row div {
	flex: 1;
	border-right: 1px solid #a6c2ce;
	border-left: 1px solid #a6c2ce;
	padding: 30px 10px;
}

.report-content div:first-child, .labs-row div:first-child, #age {
	border-left: none;
}

.report-content div:last-child, .labs-row div:last-child {
	border-right: none;
}

.labs {
	flex-direction: column;
	align-content: center;
	align-items: center;
	font-size: 1rem;
	width: 98%;
	border: none;
	border-right: 1px solid #a6c2ce;
	border-left: 1px solid #a6c2ce;
	padding: 30px 0;
}

.labs-row {
	padding: 0px;
}

.top {
	border-bottom: 1px solid #a6c2ce;
}

.switch {
  position: relative;
  display: inline-block;
	margin-left: 50px;
  width: 60px;
  height: 34px;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.data, .sliders {
	text-align: center;
}

.update-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	margin: 0 auto;
	margin-top: 20px;
	padding-bottom: 20px;
	height: 80%;
	width: 80%
}

.update-form > fieldset {
	height: 100%;
	width: 100%;
}

.updating-data-inputs {
	margin-bottom: 30px;
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 10px;

}

.updating-data input:focus {
	border: none;
	border: 2px solid #023459;
	border-radius: 10px;
}

.update-form input[type=radio] {
	visibility: hidden;
  display: none;
}

.update-form input[type=radio] + label {
	margin: 15px;
	min-height: 50px;
	min-width: 120px;
	padding: 30px 10px;
	border-top: 2px solid #a6c2ce;
	border-bottom: 2px solid #a6c2ce;
	border-radius: 10px;
}

.update-form input[type=radio]:checked + label {
	background-color: #a6c2ce;
}

#new-patient-form input {
	height: 40px;
	padding: 10px;
}

#new-patient-form > label {
	padding: 20px 0;
}

#new-patient-form div {
	margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {

	.report-container, .list {
		width: 60%;
		margin: 0 auto;
	}

	.list-container button, .container button {
		font-size: 1rem;
	}

	.landing-page h1 {
		margin-bottom: 20px
	}
	.intro-container, .auth-container {
		width: 60%;
	}

	figure {
		display: block;
	}
}
