h1 {
	text-align: center;
}

button {
	margin: 0 5px;
}

.container {
	margin: 0 auto;
	display: flex;
	height: 50px;
	width: 80%;
	padding: 10px 0;
}

.patient, .title {
	margin: 0 auto;
	display: flex;
	height: 20px;
	width: 80%;
}

.name {
	flex: 4;
	border: 1px solid black;
}

.room, .admit, .age {
	flex: 1;
	border: 1px solid black;
}

.inactive {
	display: none;
}
